.cards {
display: flex;
flex-wrap: wrap;
justify-content: center;

.card {
    flex: 0 1 300px;
	min-height: 300px;
	margin: 20px 15px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
   border-radius: 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

   &__name {
       font-size: 18px;
       font-weight: bold;
   }
  &__description {
      max-height: 200px;
      overflow: scroll;
  }
}
}