
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
    background-color: #EBECF0;
}

.list-container{
    display: flex;
    //justify-content: center;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-shadow: 1px 1px 1px #FFF;
    color: rgba(49,69,106,1);
}

.list{
    font-family: 'Poppins', sans-serif;
    box-shadow: -5px -5px 20px #FFF,
    5px  5px 20px #BABECC;
    padding-inline-start: 0px;
    border-radius: 20px;
    &__elem{
        list-style: none;
        width: 60vw;
        text-shadow: 1px 1px 1px #FFF;
        color: rgba(49,69,106,1);
        display: flex;
        justify-content: space-between;
        padding: 15px 20px 15px 20px ;
        font-size: 18px;
        font-weight: 500;
        flex-basis: 50%;
        border-bottom: solid 1px lightgray;
        &:last-child{
            border-bottom: none;
        }
    }

    div{
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
    }
    a{
        text-shadow: 1px 1px 1px #FFF;
        color: rgba(49,69,106,1);
        text-decoration: none;
    }
}

.card {
    flex: 0 1 300px;
	min-height: 300px;
	margin: 20px 15px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
   border-radius: 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

   &__name {
       font-size: 18px;
       font-weight: bold;
   }
  &__description {
      max-height: 200px;
      overflow: scroll;
  }
}

.del {
    color: red ;
}
.add {
    color: #65be20;
    margin-left: 5px;
}

a{
    text-shadow: 1px 1px 1px #FFF;
    color: rgba(49,69,106,1);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}

.add-link{
    margin-top: 20px;
    font-weight: 700;
}

.error {
    text-shadow: 1px 1px 1px #FFF;
    color: rgba(49,69,106,1);
    background-color: lightcoral;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}